extends layouts/main-layout.pug
block content
    script.
        var profileUserId = "!{profileUser._id}";

    h1.profilePageH1 This is an h1 in the profilePage.pug page

    

    div.profPageUserUserContainer
        div.profilePageImageContainer
            img(src=profileUser.profilePic, alt="User profile image")
            br
            //- Checks if we are on our own profile page. If yes, we can change the profile photo.  
            if profileUser._id == userLoggedIn._id
                input#fileId(type="file", hidden)
                input#buttonId(type="button", value="Upload Pic")
                    
            
        div.userDetailsContainer
            span.profPageUsername #{profileUser.username}
            br
            br
            //- TRYING TO UPDATE FIRST NAME
            p First Name: #{userLoggedIn.firstName}
            form#updateUserDetailsForm(action="", method="post", onsubmit="event.preventDefault(); updateFirstName();")
                input#firstNameUpdate(type="text", name="firstName", placeholder="Update First Name")
                input#firstNameUpdateButton(type="submit", value="Update First Name")
            br

            p Last Name: #{userLoggedIn.lastName}
            p Email: #{userLoggedIn.email}
            //- span.profPageDisplayName First name: #{profileUser.firstName} Last name: #{profileUser.lastName}
            //- br
            //- span.profPageDisplayEmail #{profileUser.email}

    div.postsContainer
    //- contains all the posts 
    
    script.
        document.getElementById("buttonId").addEventListener("click", openDialog);
        function openDialog(){
            document.getElementById("fileId").click();
        }

        //- TRYING TO UPDATE FIRST NAME
        var firstNameUpdate = document.getElementById("firstNameUpdate")
        var updateUserDetailsForm = document.getElementById("updateUserDetailsForm")
        function updateFirstName(){
            updateUserDetailsForm.submit();
        }


block scripts
    script(src="/js/profile.js")