extends layouts/main-layout.pug
block content
    script.
        var profileUserId = "!{profileUser._id}";

    h1.profilePageH1 This is an h1 in the profilePage.pug page
    //- p Username of logged in user: #{userLoggedIn.username}
    

    div.profPageUserUserContainer
        div.profilePageImageContainer
            img(src=profileUser.profilePic, alt="User profile image")

            if profileUser._id == userLoggedIn._id
                input#fileId(type="file", hidden)
                input#buttonId(type="button", value="Upload Pic")
                    
            
            //- Checks if we are on our own profile page. If yes, we can change the profile photo.  
        div.userDetailsContainer
            span.profPageUsername #{profileUser.username}
            span.profPageDisplayName #{profileUser.firstName} #{profileUser.lastName}
            span.profPageDisplayEmail #{profileUser.email}

    div.postsContainer
    //- contains all the posts 
    
    script.
        document.getElementById("buttonId").addEventListener("click", openDialog);
        function openDialog(){
            document.getElementById("fileId").click();
        }

block scripts
    script(src="/js/profile.js")