extends layouts/main-layout.pug
block content
    h1.profilePageH1 This is an h1 in the profilePage.pug page
    //- p Username of logged in user: #{userLoggedIn.username}
    

    div.profPageUserUserContainer
        div.profilePageImageContainer
            img(src=profileUser.profilePic, alt="User profile image")
        div.userDetailsContainer
            span.profPageDisplayName #{profileUser.firstName} #{profileUser.lastName}
            span.profPageUsername #{profileUser.username}

    div.postsContainer
    //- contains all the posts 

block scripts
    script(src="/js/profile.js") 